@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Poppins:wght@200;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #e6e6e6;
}
.text-content {
  background: #616161;
  color: #b6b6b6;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0px;
  margin-bottom: 5rem;
}
.contener {
  display: grid;
  grid-template-columns: 20% 1fr;
  max-width: 1100px;
  margin: auto;
  gap: 20px;
}
.btn-wraper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.btn {
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  text-align: start;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.btn:hover {
  background: #bad2ea;
}
.defualt_btn {
  font-size: 22px;
  font-weight: bold;
}
.btn.active {
  background-color: dodgerblue;
  color: white;
}

.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  display: flex;
  position: relative;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 15px 0px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px #d8d5d5;
  cursor: pointer;
}

.img {
  width: 250px;
  margin-top: 10px;
  transition: all 0.2s ease-out;
}
.card:hover > .img {
  transform: scale(1.1);
}

.car-header {
  margin-top: -30px;
  font-size: 30px;
  text-align: center;
  color: #6b6b6b;
  z-index: 1;
}
.card:hover > .car-header {
  color: dodgerblue;
}
.price {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #e2f6ff;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  color: #51a8ff;
  font-size: 1.1rem;
  font-weight: bold;
}
/*=====================================================*/
@media screen and (max-width: 768px) {
  .contener {
    display: flex;
    flex-direction: column;
  }
  .btn-wraper {
    flex-direction: row;
    justify-content: center;
  }
  .menu-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .menu-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1150px) {
  .contener {
    margin: 0px 20px;
  }
  .car-header {
    font-size: 25px;
  }
}
/*---------------------------------------- */
