@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --content: #b3b3b3;
}
body {
  font-family: "Poppins", sans-serif;
  background: #343434;
}
.contanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content-text {
  padding: 20px 0px;
  font-size: 5rem;
  text-shadow: 3px 2px 3px #7e7e7e;
}
.content-wraper {
  background: var(--content);
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  width: 400px;
  height: 200px;
}
.btn-contain > button {
  font-size: 2rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  text-shadow: 2px 1px 1px #a6a6a6;
  background: #1e90ff;
  box-shadow: 1px 1px 3px 2px #838383;
}
